@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
/* w3 schools */
/* Customize the label (the container) */
.container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-top: 24px;
    cursor: pointer;
    font-family: 'Acme', sans-serif;
    font-size: 1.17em;
  }
  
  /* Hide the browser's default checkbox */
  .container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  /* Create a custom checkbox */
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: brown solid 2px;
    background-color: #eee;
  }
  
  /* On mouse-over, add a grey background color */
  .container:hover input ~ .checkmark {
    background-color: #ccc;
  }
  
  /* When the checkbox is checked, add a blue background */
  .container input:checked ~ .checkmark {
    background-color: brown;
  }
  
  /* Create the checkmark/indicator (hidden when not checked) */
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the checkmark when checked */
  .container input:checked ~ .checkmark:after {
    display: block;
  }
  
  /* Style the checkmark/indicator */
  .container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
/* everything else */
#lifestyle{
    margin-bottom:.5em;
    text-align: center;
    color:darkred;
    font-size: 1.5em;
    border-radius:2em;
}
body{
    font-family: 'Acme', sans-serif;
    height: 100%;
}
h1, h2, h3, h4{
    font-family: 'Acme', sans-serif;
}
h2{
    font-size:1.4em;
}
h3{
    margin-bottom: 0em;
}
h4{
    margin-bottom: 1em;
}
h3 em{
    margin-left: 20px;
    font-size: .8em;
    color:darkred;
}
h6{
    margin-top: 0px;
    margin-bottom: 0px;
}
h3 strong{
    background-color: lightgoldenrodyellow;
}
 #answer-box p{
    font-size:.9em;
    font-family:Georgia, 'Times New Roman', Times, serif;
 }
 summary{
    font-size:.9em;
    font-family:Georgia, 'Times New Roman', Times, serif;
    padding-top: 8px;
    padding-left:8px;
    /* text-align: center; */
    color: gray;
    font-style: italic; }
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2{
    display: flex;
    flex-direction: row;
}
.row2 p{
    padding-right: 16px;
    margin-bottom:0px;
}

.breedtraits{
    margin-bottom:0px;
}
.breed-name{
    margin-top:4px;
    margin-bottom:0px;
}
img{
    border-radius:0px 20px 20px 0px;
    margin-right: 16px;
}
.col{
    display: flex;
    flex-direction: column;
    flex:1;
}
.percent{
    width:90px;
    background-color:#f5eadc;
    border-radius: 20px 0px 0px 20px;
    padding-top: 15px;
    padding-left:2px;
    color:darkred;
    text-align: center;
}
.side{
    display: flex;
    flex-flow: column;
    height: 100vh;
    border-right: brown solid 2px;
    padding: 0px 30px 100px 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 450px;
    background-color: #FFF9F5;
}
button{
    background-color: brown;
    border: 2px solid #422800;
    border-radius: 30px;
    box-shadow: #422800 4px 4px 0 0;
    color: white;
    cursor: pointer;
    font-weight: 600;
    font-size: 18px;
    padding: 0 9px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
   
}
select{
    padding: 6px;
    font-size: 16px;
    border-radius: 10px;

}
#bigdog {
    margin:auto;
    font-size: 30px;
    margin-left: 180px;
    margin-right: 180px;
    color:darksalmon;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    margin-top: 20px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1;
    justify-content: space-evenly;
}
.block{
    width:800px;
    padding: 10px;
    border: 2px solid #ddaa76;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 24px;
    margin-bottom:32px;
    box-shadow:#f5eadc 8px 8px 0 0;
}
.breed{
    font-family: 'Kanit', sans-serif;
}

.metainfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}