body{
    font-family: Monaco;
    margin-left: 40px;
    margin-right:40px;
 }
 #answer-box p{
    font-size:.9em;
    font-family:Georgia, 'Times New Roman', Times, serif
 }
.row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.row2{
    display: flex;
    flex-direction: row;
}
.row2 p{
    padding-right: 16px;
    margin-bottom:0px;
}
h4{
    margin-bottom:0px;
}
.breedtraits{
    margin-bottom:0px;
}
.col{
    display: flex;
    flex-direction: column;
    width:550px;
}
#bigdog {
    margin-bottom:0px;
    font-size: 80px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    margin-top: 50px;
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.block{
    width:350px;
    padding: 20px;
    border: 2px dotted black;
    border-radius: 20px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom:10px;
}
.breed{
    font-family: 'Kanit', sans-serif;
}

.metainfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}