body{
    font-family: Arial;
    margin-left: 100px;
}
.row{
    display: flex;
    flex-direction: row;
}
h1{
    text-align: center;
}
.google-colors h1{
    margin-bottom: 0;
    margin-right: 3px;
}

.input-box{
    border-radius: 50px;
    border:1px solid black;
    display: flex;
    align-items: center;
    margin-top: 10px;
    padding:12px;
    width: 600px;
}

.input-box img{
    height: 20px;
    width:20px;
}

.top-text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input-box input{
    width: 100%;
    margin-left: 10px;
    font-size: 16px;
    border: none;
    outline: 0;
}

#answer-box{
    width: 700px;
    margin-top:50px; 
}

.breed{
    font-family: 'Kanit', sans-serif;
}

.metainfo{
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    margin-bottom: 0px;
}