<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit&family=Montserrat&family=Open+Sans:wght@500&display=swap" rel="stylesheet">
<body>
    <div class="full-body-container">
        <div class="top-text">
            <h1>Find your Perfect Pup!</h1>
        </div>
        <h2>How many hours do you have?</h2>
        <div class="option">
            Hours
            <div class="slidecontainer">
                <input type="range" min="0" max="2" value="1" class="slider" id="hours_slider"
                    onchange="updateHours(this.value);">
                <output id="hours">1</output>
            </div>
        <!-- <h2>How much space do you have?</h2> -->
        <div id="answer-box">

        </div>
    </div>

    <script>
        var hoursvalue = document.getElementById("hours").value;
        function updateHours(hours) {
            document.getElementById('hours').value=hours;
            hourvalue = hours;
        }        
        
        function answerBoxTemplate(title, breed_name, trainability_value, energy_level_value, grooming_frequency_value){
            return `<div class=''>
                <h3 class='episode-title'>${title}</h3>
                <h3 class='episode-title'>${breed_name}</h3>
                <p class='episode-desc'>${trainability_value}</p>
            </div>`
        }
        // <p class='episode-desc'>${energy_level_value}</p>
        //         <p class='episode-desc'>${grooming_frequency_value}</p>
        function sendFocus(){
            document.getElementById('filter-text-val').focus()
        }

        function filterText(){
            document.getElementById("answer-box").innerHTML = ""
            console.log(document.getElementById("filter-text-val").value)
            fetch("/episodes?" + new URLSearchParams({ title: document.getElementById("filter-text-val").value }).toString())
            .then((response) => response.json())
            .then((data) => data.forEach(row => {
                
                let tempDiv = document.createElement("div")
                tempDiv.innerHTML = answerBoxTemplate(row.breed_name,row.trainability_value)
                document.getElementById("answer-box").appendChild(tempDiv)
            }));

        }
            
    </script>
</body>